.display-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.display-block {
  display: block;
}

.font-family-serif {
  font-family: 'Times New Roman', Times, serif;
}